name: checkSecrets

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

env:
  VERSION: ${{ secrets.KUBECONFIG }}
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: run test
        run: |
          go test -timeout 10m -v ./test
